.itemListView {
    width: 100%;
    margin-top: 40px;

    .titleView {
        user-select: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;

        a {
            font-size: 20px;
        }

        p {
            color: var(--grey);
            font-size: 16px;
        }
    }

    .sortView {
        user-select: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        p {
            font-size: 14px;

            span {
                color: var(--primaryMain);
                font-weight: bold;
            }
        }

        .sortBtnView {
            a {
                color: var(--grey);
                font-size: 14px;

                &.active {
                    color: var(--foreground);
                }
            }

            span {
                color: var(--grey);
                font-size: 14px;
                white-space: pre;
            }
        }
    }

    .listView {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        width: 100%;
    }
}

.itemView {
    cursor: pointer;
    width: calc(25% - (90px / 4));
    text-decoration: none;

    &:hover {
        color: inherit;
        text-decoration: none;
    }

    .itemImgView {
        position: relative;
        overflow: hidden;
        width: 100%;
        border-radius: 8px;

        &:after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }

        &:hover {
            .hoverView {
                transform: translateY(-100%);
            }
        }

        .hoverView {
            background-color: rgba(0, 0, 0, 0.6);
            position: absolute;
            bottom: -15%;
            left: 0;
            display: flex;
            width: 100%;
            height: 15%;
            z-index: 1;
            transition: transform 0.3s ease-in-out;

            button {
                flex: 1;
                color: var(--white);
                font-size: 15px;

                &:hover {
                    color: var(--primaryMain);
                }
            }
        }
    }

    .itemInfoView {
        .label {
            background-color: var(--primaryMain);
            display: inline-block;
            margin-top: 8px;
            padding: 2px 5px;
            border-radius: 4px;
            color: var(--white);
            font-size: 10px;
            font-weight: bold;
        }

        .itemName {
            overflow: hidden;
            display: -webkit-box;
            margin-top: 4px;
            font-size: 16px;
            word-break: break-word;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .itemDescription {
            overflow: hidden;
            margin-top: 4px;
            color: var(--grey);
            font-size: 13px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .priceView {
            margin-top: 8px;

            .originPrice {
                color: var(--grey);
                font-size: 14px;
                text-decoration: line-through;
            }

            div {
                display: flex;
                gap: 8px;
                align-items: center;
            }

            .discountRate {
                color: var(--errorMain);
                font-size: 16px;
                font-weight: bold;
            }

            .price {
                font-size: 16px;
                font-weight: bold;
            }
        }

        .evaluation {
            margin-top: 8px;
            font-size: 10px;
        }
    }
}

@media (max-width: 1280px) {
    .itemListView {
        width: 100%;
        margin-top: 40px;

        .titleView {
            user-select: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;

            a {
                font-size: 20px;
            }

            p {
                color: var(--grey);
                font-size: 16px;
            }
        }

        .sortView {
            user-select: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;

            p {
                font-size: 14px;

                span {
                    color: var(--primaryMain);
                    font-weight: bold;
                }
            }

            .sortBtnView {
                a {
                    color: var(--grey);
                    font-size: 14px;

                    &.active {
                        color: var(--foreground);
                    }
                }

                span {
                    color: var(--grey);
                    font-size: 14px;
                    white-space: pre;
                }
            }
        }

        .listView {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            width: 100%;
        }
    }

    .itemView {
        cursor: pointer;
        width: calc(25% - (90px / 4));
        text-decoration: none;

        &:hover {
            color: inherit;
            text-decoration: none;
        }

        .itemImgView {
            position: relative;
            overflow: hidden;
            width: 100%;
            border-radius: 8px;

            &:after {
                content: '';
                display: block;
                padding-bottom: 100%;
            }

            &:hover {
                .hoverView {
                    transform: translateY(-100%);
                }
            }

            .hoverView {
                background-color: rgba(0, 0, 0, 0.6);
                position: absolute;
                bottom: -15%;
                left: 0;
                display: flex;
                width: 100%;
                height: 15%;
                z-index: 1;
                transition: transform 0.3s ease-in-out;

                button {
                    flex: 1;
                    color: var(--white);
                    font-size: 15px;

                    &:hover {
                        color: var(--primaryMain);
                    }
                }
            }
        }

        .itemInfoView {
            .label {
                background-color: var(--primaryMain);
                display: inline-block;
                margin-top: 8px;
                padding: 2px 5px;
                border-radius: 4px;
                color: var(--white);
                font-size: 10px;
                font-weight: bold;
            }

            .itemName {
                overflow: hidden;
                display: -webkit-box;
                margin-top: 4px;
                font-size: 16px;
                word-break: break-word;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            .itemDescription {
                overflow: hidden;
                margin-top: 4px;
                color: var(--grey);
                font-size: 13px;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .priceView {
                margin-top: 8px;

                .originPrice {
                    color: var(--grey);
                    font-size: 14px;
                    text-decoration: line-through;
                }

                div {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                }

                .discountRate {
                    color: var(--errorMain);
                    font-size: 16px;
                    font-weight: bold;
                }

                .price {
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            .evaluation {
                margin-top: 8px;
                font-size: 10px;
            }
        }
    }
}

@media (max-width: 600px) {
    .itemListView {
        width: 100%;
        margin-top: 20px;

        .titleView {
            user-select: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;

            a {
                font-size: 16px;
            }

            p {
                color: var(--grey);
                font-size: 12px;
            }
        }

        .sortView {
            user-select: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;

            p {
                font-size: 14px;

                span {
                    color: var(--primaryMain);
                    font-weight: bold;
                }
            }

            .sortBtnView {
                display: none;

                a {
                    color: var(--grey);
                    font-size: 14px;

                    &.active {
                        color: var(--foreground);
                    }
                }

                span {
                    color: var(--grey);
                    font-size: 14px;
                    white-space: pre;
                }
            }
        }

        .listView {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            width: 100%;
        }
    }

    .itemView {
        cursor: pointer;
        width: calc(50% - (15px / 2));
        text-decoration: none;

        &:hover {
            color: inherit;
            text-decoration: none;
        }

        .itemImgView {
            position: relative;
            overflow: hidden;
            width: 100%;
            border-radius: 8px;

            &:after {
                content: '';
                display: block;
                padding-bottom: 100%;
            }

            &:hover {
                .hoverView {
                    transform: translateY(-100%);
                }
            }

            .hoverView {
                background-color: rgba(0, 0, 0, 0.6);
                position: absolute;
                bottom: -15%;
                left: 0;
                display: none;
                width: 100%;
                height: 15%;
                z-index: 1;
                transition: transform 0.3s ease-in-out;

                button {
                    flex: 1;
                    color: var(--white);
                    font-size: 15px;

                    &:hover {
                        color: var(--primaryMain);
                    }
                }
            }
        }

        .itemInfoView {
            .label {
                background-color: var(--primaryMain);
                display: inline-block;
                margin-top: 8px;
                padding: 2px 5px;
                border-radius: 4px;
                color: var(--white);
                font-size: 10px;
                font-weight: bold;
            }

            .itemName {
                overflow: hidden;
                display: -webkit-box;
                margin-top: 4px;
                font-size: 14px;
                word-break: break-word;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            .itemDescription {
                overflow: hidden;
                margin-top: 4px;
                color: var(--grey);
                font-size: 12px;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .priceView {
                margin-top: 8px;

                .originPrice {
                    color: var(--grey);
                    font-size: 14px;
                    text-decoration: line-through;
                }

                div {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                }

                .discountRate {
                    color: var(--errorMain);
                    font-size: 16px;
                    font-weight: bold;
                }

                .price {
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            .evaluation {
                margin-top: 8px;
                font-size: 10px;
            }
        }
    }
}
