.page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .main {
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-height: 100vh;

        .bannerSection {
            position: relative;
            width: 100%;
            max-width: 1280px;
            height: auto;
            margin: 0 auto;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .categorySection {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 1280px;
            margin: 40px auto 0;
            padding: 0 12px;

            h2 {
                font-size: 24px;
                font-weight: bold;
            }

            .categoryListView {
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
                width: 100%;
                margin-top: 20px;
                padding: 30px;
                border: 1px solid var(--border);

                .categoryItem {
                    width: calc(25% - (120px / 4));
                    font-size: 14px;

                    .active {
                        color: var(--primaryMain);
                        font-weight: bold;
                    }
                }
            }
        }

        .mainSection {
            width: 100%;
            max-width: 1280px;
            margin: 0 auto 80px;
        }
    }
}

@media (max-width: 1280px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .bannerSection {
                position: relative;
                width: 100%;
                max-width: 1280px;
                height: auto;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            .categorySection {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 1280px;
                margin: 40px auto 0;

                h2 {
                    font-size: 24px;
                    font-weight: bold;
                }

                .categoryListView {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 40px;
                    width: 100%;
                    margin-top: 20px;
                    padding: 30px;
                    border: 1px solid var(--border);

                    .categoryItem {
                        width: calc(25% - (120px / 4));
                        font-size: 14px;

                        .active {
                            color: var(--primaryMain);
                            font-weight: bold;
                        }
                    }
                }
            }

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 0 auto 80px;
                padding: 0 12px;
            }
        }
    }
}

@media (max-width: 900px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .bannerSection {
                position: relative;
                width: 100%;
                max-width: 1280px;
                height: auto;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            .categorySection {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 1280px;
                margin: 40px auto 0;

                h2 {
                    font-size: 24px;
                    font-weight: bold;
                }

                .categoryListView {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    width: 100%;
                    margin-top: 20px;
                    padding: 20px;
                    border: 1px solid var(--border);

                    .categoryItem {
                        width: calc(33.3% - (90px / 3));
                        font-size: 13px;

                        .active {
                            color: var(--primaryMain);
                            font-weight: bold;
                        }
                    }
                }
            }

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 0 auto 40px;
                padding: 0 12px;
            }
        }
    }
}

@media (max-width: 600px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .main {
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 100vh;

            .bannerSection {
                position: relative;
                width: 100%;
                max-width: 1280px;
                height: auto;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            .categorySection {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 1280px;
                margin: 40px auto 0;

                h2 {
                    font-size: 24px;
                    font-weight: bold;
                }

                .categoryListView {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    width: 100%;
                    margin-top: 20px;
                    padding: 20px;
                    border: 1px solid var(--border);

                    .categoryItem {
                        width: calc(50% - (60px / 2));
                        font-size: 13px;

                        .active {
                            color: var(--primaryMain);
                            font-weight: bold;
                        }
                    }
                }
            }

            .mainSection {
                width: 100%;
                max-width: 1280px;
                margin: 0 auto 40px;
                padding: 0 12px;
            }
        }
    }
}

// @media (prefers-color-scheme: dark) {
//     .logo {
//         // filter: invert();
//     }

//     .page {
//         --background: #000;
//         --foreground: #000;

//         --text-primary: #ededed;
//         --text-secondary: #999;

//         --button-primary-hover: #ccc;
//         --button-secondary-hover: #1a1a1a;
//         --button-secondary-border: #1a1a1a;
//     }
// }
