.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 100%;
    min-height: 460px;

    .categoryListView {
        overflow: hidden;
        flex: 1;
        display: flex;

        .mainCategoryListView {
            overflow: auto;
            display: flex;
            flex-direction: column;
            width: 200px;
            min-height: 0;
            border-radius: 1px solid var(--border);

            .mainCategoryItemView {
                display: flex;
                align-items: center;
                width: 100%;
                height: 40px;
                padding: 8px;

                &:hover {
                    background-color: var(--background2);
                    color: inherit;
                }

                .mainCategoryImg {
                    position: relative;
                    width: 24px;
                    height: 24px;
                }

                p {
                    margin-left: 4px;
                    font-size: 14px;
                    white-space: pre;
                }
            }
        }

        .subCategoryListView {
            background-color: var(--background2);
            overflow: auto;
            flex: 0;
            display: flex;
            flex-direction: column;
            min-height: 0;
            transition: flex 0.3s ease-in-out;

            &.active {
                flex: 1;
            }

            .subCategoryItemView {
                display: flex;
                align-items: center;
                width: 100%;
                height: 40px;
                padding: 8px;

                .subCategoryImg {
                    flex-shrink: 0;
                    position: relative;
                    width: 24px;
                    height: 24px;
                }

                p {
                    margin-left: 4px;
                    font-size: 14px;
                    white-space: pre;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .container {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 460px;
        height: 100%;
        min-height: 460px;

        .categoryListView {
            overflow: hidden;
            flex: 1;
            display: flex;

            .mainCategoryListView {
                overflow: auto;
                display: flex;
                flex-direction: column;
                width: 200px;
                min-height: 0;
                border-radius: 1px solid var(--border);

                .mainCategoryItemView {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 40px;
                    padding: 8px;

                    &:hover {
                        background-color: var(--background2);
                        color: inherit;
                    }

                    .mainCategoryImg {
                        position: relative;
                        width: 24px;
                        height: 24px;
                    }

                    p {
                        margin-left: 4px;
                        font-size: 14px;
                        white-space: pre;
                    }
                }
            }

            .subCategoryListView {
                background-color: var(--background2);
                overflow: auto;
                flex: 0;
                display: flex;
                flex-direction: column;
                min-height: 0;
                transition: flex 0.3s ease-in-out;

                &.active {
                    flex: 1;
                }

                .subCategoryItemView {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 40px;
                    padding: 8px;

                    .subCategoryImg {
                        flex-shrink: 0;
                        position: relative;
                        width: 24px;
                        height: 24px;
                    }

                    p {
                        margin-left: 4px;
                        font-size: 14px;
                        white-space: pre;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .container {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 460px;
        height: 100%;
        min-height: 460px;

        .categoryListView {
            overflow: hidden;
            flex: 1;
            display: flex;

            .mainCategoryListView {
                overflow: auto;
                display: flex;
                flex-direction: column;
                width: 200px;
                min-height: 0;
                border-radius: 1px solid var(--border);

                .mainCategoryItemView {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 40px;
                    padding: 8px;

                    &:hover {
                        background-color: var(--background2);
                        color: inherit;
                    }

                    .mainCategoryImg {
                        position: relative;
                        width: 24px;
                        height: 24px;
                    }

                    p {
                        margin-left: 4px;
                        font-size: 14px;
                        white-space: pre;
                    }
                }
            }

            .subCategoryListView {
                background-color: var(--background2);
                overflow: auto;
                flex: 0;
                display: flex;
                flex-direction: column;
                min-height: 0;
                transition: flex 0.3s ease-in-out;

                &.active {
                    flex: 1;
                }

                .subCategoryItemView {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 40px;
                    padding: 8px;

                    .subCategoryImg {
                        flex-shrink: 0;
                        position: relative;
                        width: 24px;
                        height: 24px;
                    }

                    p {
                        margin-left: 4px;
                        font-size: 14px;
                        white-space: pre;
                    }
                }
            }
        }
    }
}
