.container {
    background-color: var(--background2);
    width: 100%;
    padding: 24px 0;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;

    .wrapper {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;

        .footerSection {
            display: flex;
            justify-content: space-between;

            .logoView {
                margin-right: 16px;
            }

            .infoView {
                flex: 1;
                font-size: 13px;

                p {
                    white-space: pre;
                }

                .copyRight {
                    display: block;
                    margin-top: 8px;
                    color: var(--grey);
                }
            }

            .policyView {
                user-select: none;
                display: flex;
                align-items: flex-start;
                gap: 10px;

                .privacypolicy {
                    font-weight: bold;
                }
            }
        }
    }
}
