.container {
    user-select: none;
    background-color: var(--background);
    position: sticky;
    top: 0;
    width: 100%;
    padding: 16px 0;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
    z-index: 1000000;

    .wrapper {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;

        .topSection {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            a {
                font-size: 12px;

                &.point {
                    color: var(--primaryMain);
                }
            }

            span {
                display: inline-block;
                color: var(--grey);
                font-size: 12px;
                white-space: pre;
            }
        }

        .midSection {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .leftView {
                width: 200px;
            }

            .centerView {
                display: flex;
                gap: 8px;
                justify-content: space-between;
                align-items: center;
                width: 300px;
                height: 40px;
                padding: 0 12px;
                border: 1px solid var(--primaryMain);
                border-radius: 8px;

                input {
                    flex: 1;
                }

                .clearBtn {
                    color: var(--grey);

                    &:hover {
                        color: inherit;
                    }
                }

                .searchBtn {
                }
            }

            .rightView {
                display: flex;
                gap: 12px;
                justify-content: flex-end;
                width: 200px;
            }
        }

        .btmSection {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 40px;
            padding-top: 16px;

            .leftView {
                width: 200px;

                .hamburgerBtn {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                }
            }

            .centerView {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                .navList {
                    display: flex;
                    justify-content: center;

                    .navItem {
                        width: 100px;
                        height: 100%;
                        text-align: center;
                    }
                }
            }

            .rightView {
                width: 200px;
            }
        }
    }
}

@media (max-width: 1280px) {
    .container {
        user-select: none;
        background-color: var(--background);
        position: sticky;
        top: 0;
        width: 100%;
        padding: 12px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
        z-index: 1000000;

        .wrapper {
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;

            .topSection {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                a {
                    font-size: 12px;

                    &.point {
                        color: var(--primaryMain);
                    }
                }

                span {
                    display: inline-block;
                    color: var(--grey);
                    font-size: 12px;
                    white-space: pre;
                }
            }

            .midSection {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .leftView {
                    width: 100px;
                }

                .centerView {
                    display: flex;
                    gap: 8px;
                    justify-content: space-between;
                    align-items: center;
                    width: 300px;
                    height: 40px;
                    padding: 0 12px;
                    border: 1px solid var(--primaryMain);
                    border-radius: 8px;

                    input {
                        flex: 1;
                    }

                    .clearBtn {
                        color: var(--grey);

                        &:hover {
                            color: inherit;
                        }
                    }

                    .searchBtn {
                    }
                }

                .rightView {
                    display: flex;
                    gap: 12px;
                    justify-content: flex-end;
                    width: 100px;
                }
            }

            .btmSection {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 40px;
                padding-top: 16px;

                .leftView {
                    width: 100px;

                    .hamburgerBtn {
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                    }
                }

                .centerView {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .navList {
                        display: flex;
                        justify-content: center;

                        .navItem {
                            width: 100px;
                            height: 100%;
                            text-align: center;
                        }
                    }
                }

                .rightView {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .container {
        display: none;
    }
}
