@import './reset.scss';

:root {
    --background: #ffffff;
    --background2: #fafafa;
    --foreground: #171717;

    // light
    --primaryLight: #e3f2fd;
    --primaryMain: #3c91ff;
    --primaryDark: #1e88e5;
    --errorLight: #ef9a9a;
    --errorMain: #f44336;
    --errorDark: #c62828;

    // dark
    --darkPrimaryLight: #e3f2fd;
    --darkPrimaryMain: #3c91ff;
    --darkPrimaryDark: #1e88e5;
}

@media (prefers-color-scheme: dark) {
    // :root {
    //     --background: #0a0a0a;
    //     --foreground: #ededed;
    // }
}

html,
body {
    // overflow: hidden;
    max-width: 100vw;
    height: 100%;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button:hover {
    color: var(--primaryMain);
}

a:hover {
    color: var(--primaryMain);
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
