.container {
    background-color: var(--background2);
    width: 100%;
    padding: 16px 0;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;

    .wrapper {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }
}
